{% extends 'base.html' %}

{% block head%}
<h1>CTF compliqué (?)</h1>
{% endblock %}

{% block body%}

<form action="/login" method="POST">
    
    <dl>
        <dt>Email:</dt>
        <dd><input type="text" name="email"></dd>
        <dt>Username:</dt>
        <dd><input type="text" name="username"></dd>
        <dt>Password:</dt>
        <dd><input type="password" name="Password"></dd>
        <dd><input type="submit" name="login"></dd>
    </dl>
</form>
<p>
    <input type="button" name="Redirection" value="click here to register!" onclick="self.location.href='register'">
</p>

{% endblock %}