body{
    background-color: rgb(226, 237, 238);
    text-align: center;
}
h1{
    color: rgb(255, 121, 121);
    text-align: center;
}
h2{
    color: cornflowerblue;
}
h3{
    color: cyan;
}
a{
    color: darkred;
}
a:visited{
    color: dimgray;
}
p{
    font-style: oblique;
}
em{
    font-weight: bold;
}
span.warning{
    color: firebrick;
}
section.waldo:hover{
    color: lightseagreen;
}
ul{
    visibility: hidden;
}
